@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-div{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
}

.sub-div{
    /* background-color: red; */
    /* height: 180px; */
    width: 200px;
    padding: 45px;
    color: hsla(0, 0%, 100%, 0.5);
}

.one{
    background-color: hsl(31, 77%, 52%);
}

.two{
    background-color: hsl(184, 100%, 22%);
}

.three{
    background-color: hsl(179, 100%, 13%);
}

.learn-more{
    border-radius: 25px;
    height:45px;
    width:150px;
    border:1px solid hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.A{
    color: hsl(31, 77%, 52%);
    &.A:hover{
        background-color: hsl(31, 77%, 52%);
        color:hsl(0, 0%, 95%);
    }
}

.B{
    color: hsl(184, 100%, 22%);
    &.B:hover{
        background-color: hsl(184, 100%, 22%);
        color:hsl(0, 0%, 95%);
    }
}

.C{
    color: hsl(179, 100%, 13%);
    &.C:hover{
        background-color:hsl(179, 100%, 13%);
        color:hsl(0, 0%, 95%);
    }
}

.image{
    padding-bottom: 32px;
}

.heading{
    font-family: Big Shoulders Display;
    font-size: 35px;
    padding-bottom: 30px;
    color:hsl(0, 0%, 95%);
}

.content{
    font-family: "Lexend Deca";
    font-size:14px;
    padding-bottom: 80px;
    font-weight:lighter;
    line-height: 1.8;
    word-spacing:0.1em;
}


@media screen and (max-width: 900px) {
    .container{
        margin-top: 480px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .main-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content{
        padding-bottom: 20px;
    }

    .image{
        height:30px;
        padding-bottom: 20px;
    }

    .heading{
        padding-bottom: 20px;
    }
  }
